<div>
    <form [formGroup]="form" (ngSubmit)="addCity()">
        <table>
            <tr>
                <td>City</td>
                <td><input type="text" formControlName="name"></td>
                <td><button type="submit">Add</button></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <table>
        <tr *ngFor="let c of cities, let i = index">
            <td><h3><a [routerLink]="['/city', c]">{{c | titlecase}}</a></h3></td>
            <td><button (click)="deleteCity(i)">Delete</button></td>
        </tr>
    </table>
</div>